#containers {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#text {
    text-align: center;
    background-color: #FFFAF0;
    border-top: 1px solid 	#FFD700;    
    padding: 8px;
    margin-bottom: 45px;
}

#text2 {
    text-align: center;
    color: gray;
}

#text3 {
    border-left: 1px solid 	#FFD700;
    padding-left: 20px;
    color: red;
    margin-bottom: 45px;
}

hr {
color: #48d1cda3;
background: #48d1cda3;
border: 0;
height: 0.1em;
}

h1 {
    text-align: center;
    
}
#container {  
    width: 60%;
    margin-left: auto;
    margin-right: auto; 
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img2 {
    width: 570px;
}